body {
    background: repeating-linear-gradient(45deg,
            saddlebrown,
            saddlebrown 20px,
            peru 20px,
            peru 40px);
    font-family: "Comic Sans MS", cursive;
    color: darkred;
}

.poster {
    width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: wheat;
    border: 10px dashed brown;
    text-align: center;
}

h1 {
    font-size: 36px;
    text-shadow: 3px 3px gold;
}

h2 {
    font-style: italic;
    background-color: brown;
    color: yellow;
    padding: 5px;
}

h3 {
    text-decoration: underline;
    color: maroon;
}

marquee {
    background-color: gold;
    color: brown;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0;
}

img {
    width: 100%;
    border: 5px solid black;
    margin: 10px 0;
}

section {
    background-color: burlywood;
    border: 3px dotted darkred;
    margin: 10px 0;
    padding: 10px;
}

ul {
    list-style-type: square;
    text-align: left;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    background-color: sienna;
    color: white;
    padding: 10px;
}